examples/aedes_simple.json
[{"id":"2968a4fcf75e9496","type":"tab","label":"Aedes","disabled":false,"info":"","env":[]},{"id":"71f56412e0a1bd0b","type":"debug","z":"2968a4fcf75e9496","name":"Aedes Events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":300,"wires":[]},{"id":"94a8707a2c4a4308","type":"aedes broker","z":"2968a4fcf75e9496","name":"Aedes MQTT Broker","mqtt_port":"1884","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":270,"y":320,"wires":[["71f56412e0a1bd0b"],["30bcabc71382bd19"]]},{"id":"30bcabc71382bd19","type":"debug","z":"2968a4fcf75e9496","name":"Aedes Publish Events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":340,"wires":[]},{"id":"a92eb1e50a7e0fb2","type":"inject","z":"2968a4fcf75e9496","name":"MQTT Message","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"Test","payloadType":"str","x":280,"y":180,"wires":[["4195ccca2060a2c5"]]},{"id":"4195ccca2060a2c5","type":"mqtt out","z":"2968a4fcf75e9496","name":"MQTT Publisher","topic":"test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47a469b15c9c5f27","x":480,"y":180,"wires":[]},{"id":"5ce36754784a00e0","type":"mqtt in","z":"2968a4fcf75e9496","name":"MQTT Subscriber","topic":"test","qos":"0","datatype":"auto","broker":"47a469b15c9c5f27","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":240,"wires":[["ed51b3734a88ef79"]]},{"id":"ed51b3734a88ef79","type":"debug","z":"2968a4fcf75e9496","name":"MQTT Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":240,"wires":[]},{"id":"47a469b15c9c5f27","type":"mqtt-broker","name":"","broker":"localhost","port":"1884","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]